

/* font-family: "League Gothic"; */
@font-face {
    font-family: 'League Gothic';
    src: url("../fonts/League Gothic/League Gothic.otf");
    src: url("../fonts/League Gothic/League Gothic.eot?#iefix")format("embedded-opentype"), 
	url("../fonts/League Gothic/League Gothic.woff")format("woff"), 
	url("../fonts/League Gothic/League Gothic.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Open Sans Light"; */
@font-face {
    font-family: 'Open Sans Light';
    src: url("../fonts/Open Sans Light/Open Sans Light.otf");
    src: url("../fonts/Open Sans Light/Open Sans Light.eot?#iefix")format("embedded-opentype"), 
	url("../fonts/Open Sans Light/Open Sans Light.woff")format("woff"), 
	url("../fonts/Open Sans Light/Open Sans Light.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Open Sans Light"; */
@font-face {
    font-family: 'Open Sans Extrabold';
    src: url("../fonts/Open Sans Extrabold/Open Sans Extrabold.otf");
    src: url("../fonts/Open Sans Extrabold/Open Sans Extrabold.eot?#iefix")format("embedded-opentype"), 
	url("../fonts/Open Sans Extrabold/Open Sans Extrabold.woff")format("woff"), 
	url("../fonts/Open Sans Extrabold/Open Sans Extrabold.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
