@media screen and (max-width: 479px) and (min-width: 320px) {
	header {
		width: 100%;
		height: 517px;
		/*background-size: cover;*/
		background: url(../img/fon.jpg) center 0 no-repeat;
	}
	/*top-header with logo and menu-*/
	.top_header {
		display: block;
		width: 320px;
		height: 200px;
		margin: 0 auto;
	}

	.logo {
		padding-top: 70px;
		margin-left: 85px;
	}

	nav {
		display: block;
		/*float: left;*/
		margin-top: 4px;
		margin-left: 4px;
		padding-top: 1px;;
	}

	.menu {
		width: 47px;
		height: 47px;
		display: block;
		position: relative;
		overflow: hidden;
		float: none;
		padding: 0;
		margin: 0 auto;
		margin-top: 20px;
		z-index: 10;
		color: #fff;
		text-align: center;
		line-height: 47px;
		font-family: 'League Gothic';
		font-size: 24px;
	}

	.menu:hover {
		display: block;
		background-color: #3f3247;
		width: 244px;
		height: 257px;
		margin-left: 34px;
		border: 1px solid #051116;
		border-radius: 8px;
		background: rgba(54, 41, 62, .9);
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2),
					2px 3px 7px 0px rgba(0, 0, 0, 0.35) inset,
					0 1px 0 0 #6d507a;
		transform: .5s all;
		z-index: 11;	
	}

	.menu:hover + .menu .menu__item {
		border-top: 1px solid #523f5a;
		border-bottom: 1px solid #37293f;
		border-radius: 8px 8px 0 0;
	}

	.menu__item {
		display: block;
		height: 40px;
		z-index: 11;
		text-transform: uppercase;
		text-decoration: none;
	}

	.menu__item-home {
		display: inline-block;
		height: 39px;
		padding: 0 5px;
		border-bottom: 2px solid #edbfff;
	}

	.menu__item:first-child {
		height: 46px;
		display: block;
		z-index: 10;
	}
	
	.menu__link {
		display: block;
		margin: 0 auto;
		line-height: 46px;
		z-index: 12;
		text-transform: uppercase;
		text-decoration: none;
	}

	.menu__item:hover {
		box-shadow: inset 0 -2px 0 0 #edbfff;
		background: rgba(0, 0, 0, .3);
		text-decoration: none;
	}
	
	.menu__link:visited {
		color: #fff;
		font-family: 'League Gothic', sans-serif;
		font-size: 24px;
		text-decoration: none;
		text-transform: uppercase;
	}

	.menu__link:hover {
		border: 0;
		text-decoration: none;
	}

/*SLIDER*/

	.slider {
		display: block;
		/*margin-top: 0px;
		background-size: cover;
		background: url(../img/slider.png) center 0 no-repeat;*/
		height: 398px;
	}

	.slider_box {
		display: flex;
		width: 320px;
		margin: 0 auto;		
	}

	.slider_text {
		display: block;
		float: left;
		margin-top: 94px;
		width: 285px;
		margin-left: 65px;
		overflow: hidden;
	}

	.slider_text h1 {
		padding-top: 15px;
		color: #fefefe;
		font-family: 'League Gothic', sans-serif;
		font-size: 36px;
		line-height: 11px;
		letter-spacing: 0px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	}
	
	.hh {
		display: inline-block;
		margin-top: 11px;
		margin-left: 1px;
		height: 25px;
		overflow: hidden;
		width: 205px;;
	}

	.hh h2 {
		color: #edbfff;
		font-family: 'League Gothic', sans-serif;
		font-size: 18px;
		line-height: 24px;
	}
	
	.pp {
		display: none;
		margin-top: -3px;
		margin-left: 0px;
		overflow: hidden;
		height: 105px;
	}

	.pp p {
		display: none;
		margin-top: 5.5px;
		color: #fff;
		font-family: 'Open Sans Light', sans-serif;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: -0.06px;
	}

	.iphone {
		display: none;
		/*float: left;
		width: 37.3%;
		margin-top: -24px;
		margin-left: 117px;
		height: 375px;*/
	}

	.slider_buttom {
		display: block;
		margin-top: -169px;
		margin-left: 121px;
	}

	/*ABOUT COMPANY*/

	.about {
		height: 595px;
		background: linear-gradient(#745083, #322539);
		border-top: 1px solid #33253a;
		border-bottom: 1px solid #1d2f37;
	}

	.about_content {
		/*display: block;*/
		width: 320px;
		height: 485px;
		/*margin: 0 auto;*/
		
	}

	.content1 {
		width: 295px;
		height: 150px;
		display: block;
		float: left;
		margin-top: 69px;
		margin-left: 32px;
		overflow: hidden;
		
	}

	.content2 {
		width: 295px;
		height: 150px;
		display: block;
		float: left;
		margin-top: 7px;
		margin-left: 32px;
		overflow: hidden;
	}

	.content3 {
		width: 295px;
		height: 150px;
		display: block;
		float: left;
		margin-top: 25px;
		margin-left: 32px;
		overflow: hidden;
	}

	.icon1 {
		width: 30px;
		height: 30px;
		display: block;
		float: left;
		margin-left: -2px;
		background: url(../img/icon.png);
	}

	.icon2 {
		width: 30px;
		height: 30px;
		display: block;
		float: left;
		margin-left: -2px;
		padding-left: -60px;
		background: url(../img/icon.png);
		/*background-position: -35px;*/
	}

	.icon3 {
		width: 30px;
		height: 30px;
		display: block;
		float: left;
		margin-left: -2px;
		padding-bottom: 3px;
		background: url(../img/icon.png);
		/*background-position: -70px 2px;*/
	}

	.about_company {
		display: block;
		float: left;
		margin-top: 2px;
		margin-left: 23px;
		color: #fff;
		font-family: 'League Gothic', sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: -0.1px;
		text-shadow: 1px 0 0 1px rgba(15, 21, 24, 1);
	}

	.about_text {
		display: block;
		height: 72px;
		width: 205px;
		color: #fff;
		font-family: 'Open Sans Light', sans-serif;
		font-size: 16px;
		padding-top: 7px;
		padding-left: 23px;
		line-height: 24px;
		letter-spacing: -0.1px;
		text-shadow: 1px 0 0 1px rgba(15, 21, 24, 1);
		overflow: hidden;
	}

	.read {
		color: #fff;
		font-family: 'League Gothic', sans-serif;
		font-size: 18px;
		text-decoration: none;
		text-transform: uppercase;
		margin-left: 207px;
		/*padding-top: 10px;*/
		line-height: 48px;
	}

	.read:visited {
		color: #fff;
	}

	/*CONTENT*/

	.conteiner1 {
		height: 787px;
		background: url(../img/shadow.png) top no-repeat;
		background: #f9f9f9;
	}

	.content_post {
		display: block;
		width: 320px;
		height: 682px;
		margin: 0 auto;
	}

	.post1 {
		width: 258px;
		height: 288px;
		display: block;
		float: left;
		background: url(../img/dialog.png) top no-repeat;
		margin-top: 56px;
		margin-left: 44px;
	}

	.post2 {
		width: 305px;
		height: 300px;
		display: block;
		float: left;
		margin-top: 95px;
		margin-left: 12px;
	}

	.avatar {
		background: url(../img/photo.png);
		overflow: hidden;
		height: 50px;
		width: 49px;
		border: 1px solid #fff;
		border-radius: 30px;
		box-shadow: inner 2px 0 5px rgba(0, 0, 0, 0.3);
		margin-top: 30px;
		margin-left: -24px;
	}

	.pingbuller {
		width: 195px;
		height: 220px;
		display: block;
		margin-top: -39px;
		margin-left: 36px;
		overflow: hidden;
	}

	.ping {
			display: block;
			margin-top: 0px;
			margin-left: 0px;
	}

	.ping>span {
		color: #454545;
		font-family: 'League Gothic', sans-serif;
		font-size: 24px;
		text-shadow: 0 1px 0 1px rgba(0, 0, 0, 1);
	}

	.starts {
			display: block;
			margin-top: 5px;
			margin-left: 0px;
	}

	.starts>span {
		color: #edbfff;
		font-family: 'League Gothic', sans-serif;
		font-size: 24px;
		text-shadow: 0 1px 0 1px rgba(0, 0, 0, 1);
		padding-top: 0px;
		padding-left: 0px;
	}

	.pingbuller_text {
		width: 195px;
		color: #454545;
		font-family: 'Open Sans Light', sans-serif;
		font-size: 16px;
		margin-top: 10px;
		margin-left: 4px;
		line-height: 24px;
		text-shadow: 0 1px 0 1px rgba(0, 0, 0, 1);
	}

	.navigation_button_2 {
		width: 87px;
		height: 22px;
		margin-left: 95px;
		margin-top: 47px;
	}

	.recent {
		color: #454545;
		font-family: 'League Gothic', sans-serif;
		font-size: 30px;
		text-shadow: 0 1px 0 1px rgba(0, 0, 0, 1);
		text-transform: uppercase;
		/*margin-top: 50px;*/
		margin-left: 2.5%;
	}

	.upd1 {
		display: block;
		float: left;
		margin-left: 1px;
		margin-top: 18px;
		padding-top: 5px;
		/*overflow: hidden;*/
	}

	.upd_icon1 {
		width: 53px;
		height: 53px;
		background: url(../img/upd_icon.png);
		display: block;
		float: left;
		margin-left: 4px;
		margin-top: -11px;
	}

	.upd_icon2 {
		width: 53px;
		height: 53px;
		display: block;
		float: left;
		margin-left: 1%;	
		margin-top: -8px;
		background: url(../img/upd_icon.png);
		background-position: 0px -55px;
	}

	.upd_icon3 {
		display: block;
		width: 53px;
		height: 53px;
		background: url(../img/upd_icon.png);
		background-position: 0px -110px;
		float: left;
		margin-left: 2%;
		margin-top: -8px;
	}

	.upd2 {
		display: block;
		float: left;
		padding-top: 5px;
		margin-left: 1px;
		margin-top: 17px;
		overflow: hidden;
	}

	.upd3 {
		display: block;
		float: left;
		margin-left: 0px;
		padding-top: 5px;
		margin-top: 21px;
		overflow: hidden;
	}

	.nunc_upd {
		display: block;
		width: 170px;
		height: 20px;
		margin-top: -3px;
		margin-left: 74px;
		/*float: left;*/
		overflow: hidden;
	}
	
	.nunc {
		color: #454545;
		font-family: 'Open Sans Extrabold', sans-serif;
		font-size: 16px;
		letter-spacing: 0px;
	}

	.posted_1 {
		display: block;
		float: left;
		width: 255px;
		height: 20px;
		margin-top: -25px;
		margin-left: 73px;
		overflow: hidden;
	}

	.posted {
		color: #454545;
		font-family: 'Open Sans Light', sans-serif;
		font-size: 16px;
		margin-top: 4px;
		margin-left: 0%;
		letter-spacing: 0px;
	}

	.more {
		display: block;
		float: left;
		color: #454545;
		font-family: 'League Gothic', sans-serif;
		font-size: 18px;
		text-shadow: 0 1px 0 1px rgba(0, 0, 0, 1);
		text-transform: uppercase;
		margin-top: 16px;
		margin-left: 195px;
	}

		.more span:first-child {
			display: none;
		}

	.conteiner2 {
		height: 422px;
		background: #f9f9f9;
		border-top: 1px solid #e6e6e6;
	}

	/*LOGOS*/

	.line {
		height: 1px;
		background-color: #fff;
		margin-top: 0px;
	}

	.content_logos {
		width: 320px;
		display: inline-block;
		margin: 0 auto;
	}

	.logos1 {
		display: block;
		float: left;
		width: 82px;
		height: 75px;
		margin-top: 43px;
		margin-left: 53px;
		background: url(../img/logos.png);
		padding-left: 0px;
		background-position: -35px;
	}
	
	.logos2 {
		display: block;
		float: left;
		width: 82px;
		height: 75px;
		margin-top: 43px;
		margin-left: 44px;
		background: url(../img/logos.png);
		padding-left: 0px;
		background-position: -170px;
	}
	
	.logos3 {
		display: block;
		float: left;
		width: 75px;
		height: 75px;
		margin-top: 50px;
		margin-left: 68px;
		background: url(../img/logos.png);
		background-position: -312px;
	}
	
	.logos4 {
		display: block;
		float: left;
		width: 65px;
		height: 75px;
		margin-top: 50px;
		margin-left: 48px;
		background: url(../img/logos.png);
		background-position: -445px;
	}
	
	.logos5 {
		display: block;
		float: left;
		width: 115px;
		height: 75px;
		margin-top: 31px;
		margin-left: 35px;
		background: url(../img/logos.png);
		background-position: -565px;
	}

	.logos6 {
		display: block;
		float: left;
		width: 100px;
		height: 75px;
		margin-top: 31px;
		margin-left: 35px;
		background: url(../img/logos.png);
		background-position: -725px;
	}
/*BLOCKS AT BOTTOM*/

	.conteiner3 {
		display: none;
		/*height: 320px;
		background: #ececec;
		border-top: 1px solid #e6e6e6;*/
	}

	.content_bottom {
		width: 320px;
		height: 210px;
		display: block;
		margin: 0 auto;
		padding-top: 100px;
	}

	.box1 {
		display: block;
		width: 30%;
		height: 210px;
		float: left;
		margin-left: 7px;
	}

	.box2 {
		display: block;
		float: left;
		width: 30%;
		height: 210px;
		margin-left: 5%;
	}

	.box3 {
		display: block;
		float: left;
		width: 30%;
		height: 210px;
		margin-left: 11px;
	}

	.pigbull {
		display: none;
		/*text-transform: uppercase;
		font-family: 'League Gothic', sans-serif;
		font-size: 48px;
		text-shadow: 0 1px 0 1px rgba(0, 0, 0, 1);
		margin-top: 10px;
		letter-spacing: -0.5px;*/
	}

	.pigbull>span:first-child {
		display: none;
		/*color: #454545;*/
	}

	.pigbull>span:nth-child(2) {
		display: none;
		/*color: #b9b9b9;
		margin-left: -7px;*/
	}

	.copy {
		display: none;
		/*color: #c5c5c5;
		font-family: Georgia, sans-serif;
		font-style: italic;
		font-size: 16px;
		margin-top: 28px;
		margin-left: 0%;
		letter-spacing: -0.1px;*/
	}
	
	.news_categories {
		display: block;
		margin-top: 2px;
		margin-left: 11px;
	}
	
	.news_categories>span {
		color: #454545;
		text-transform: uppercase;
		font-family: 'League Gothic', sans-serif;
		font-size: 24px;
		text-shadow: 0 1px 0 1px rgba(0, 0, 0, 1);
		margin-top: 0px;
		margin-left: 0px;
		letter-spacing: 0px;
	}

	.nunc_text1 {
		display: block;
		width: 213px;
		height: 170px;
		overflow: hidden;
		color: #787878;
		font-family: 'Open Sans Light', sans-serif;
		font-size: 16px;
		margin-top: 9px;
		line-height: 24px;
		margin-left: 11px;
		letter-spacing: 0px;
	}

	.coments {
		/*display: none;*/
		color: #454545;
		font-family: 'League Gothic', sans-serif;
		font-size: 30px;
		text-shadow: 0 1px 0 1px rgba(0, 0, 0, 1);
		margin-top: 3px;
		margin-left: -1%;
		letter-spacing: -0.5px;
	}

	.coments>span {
		display: none;
		/*text-transform: uppercase;*/
	}

	.nunc_text2 {
		display: block;
		width: 213px;
		height: 170px;
		overflow: hidden;
		color: #787878;
		font-family: 'Open Sans Light', sans-serif;
		font-size: 16px;
		margin-top: 9px;
		line-height: 24px;
		margin-left: 11px;
		letter-spacing: 0px;

	}

	.news {
		/*display: none;*/
		color: #454545;
		font-family: 'League Gothic', sans-serif;
		font-size: 30px;
		text-shadow: 0 1px 0 1px rgba(0, 0, 0, 1);
		margin-top: 3px;
		margin-left: 8%;
		letter-spacing: 0px;
	}

	.news>span {
		display: none;
		/*text-transform: uppercase;*/
	}

	/*FOOTER*/

	footer {
		height: 200px;
		background: url(../img/footer.jpg) center 0 no-repeat;
	}

	.foot_text {
		width: 320px;
		margin: 0 auto;
	}

/*MENU*/

	.menu_bottom {
		display: none;
		/*padding-top: 46px;
		margin-left: 12px;*/
	}

	

	.desined {
		color: #fff;
		padding-top: 39px;
		margin-left: 91px;
		letter-spacing: -0.45px;
	}

	.desined>span:first-child {
		font-family: 'Open Sans Light', sans-serif;
		font-size: 12px;
	}
	
}